name: CI MLflow Project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install base dependencies
        run: |
          pip install mlflow==2.19.0

      - name: Run MLflow project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # === FIXED RUN ID ===
      - name: Get MLflow run ID
        run: |
          cd MLProject
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | xargs basename)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns/

      # === FIXED PATH ===
      - name: Build Docker Model
        run: |
          cd MLProject
          mlflow models build-docker \
            -m mlruns/0/$RUN_ID/artifacts/model \
            -n diabetes-mlflow:latest

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag diabetes-mlflow:latest ${{ secrets.DOCKERHUB_USERNAME }}/diabetes-mlflow:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/diabetes-mlflow:latest
